# Library and object files
# -----------------------------------------------
*.lib
*.a
*.o
*.obj

# Unittests executables, and other exectuables
# -----------------------------------------------
__test__*
*.exe

# dub
# -----------------------------------------------
.dub/
dub.selections.json

# IDE, editor workspace
# -----------------------------------------------
*.sublime-workspace

# Files used for temporary data or profiling
# -----------------------------------------------
*.csv
*.dat
*.nrm
*.lst
